---
import Hero from "../components/Hero.astro";
import Timeline from "../components/Timeline.astro";
import Layout from "../layouts/Layout.astro";

const elements = [
  {
    date: "Vendredi 12 mai - 19h",
    title: "Kidnapping",
    description:
      "On embarque le Darkmitri à Ermont. On récupère le colis nommé Jeannot et on part pour BXL ZOO",
  },
  {
    date: "22h30",
    title: "Arrivée à BXL",
    description: "On mange, on boit, on dort. L'ordre est à définir.",
  },
  {
    date: "Samedi 13 mai - 9h30",
    title: "Réveil",
    description:
      "On a des trucs à faire donc il s'agirait de pas faire de grasses mat'",
  },
  {
    date: "11h",
    title: "Escape game",
    description: "",
  },
  {
    date: "12h30",
    title: "Wolf Food Market",
    description: "",
  },
  {
    date: "14h - 16h",
    title: "Quartier libre",
    description:
      "On sait que ça va en profiter pour boire mais je préfère laisser le bénéfice du doute",
  },
  {
    date: "16h30",
    title: "Bubble foot et combat de sumos",
    description: "",
  },
  {
    date: "20h",
    title: "Ramen",
    description: "",
  },
  {
    date: "22h",
    title: "Tournée des bars",
    description: "",
  },
  {
    date: "Dimanche 14 mai - Heure inconnue",
    title: "Réveil",
    description: "On rend les clés de l'hôtel",
  },
  {
    date: "13h",
    title: "Brunch à la Casa Louise",
    description: "",
  },
  {
    date: "Départ",
    title: "Retour à la vraie casa",
    description: "Sans brunch et d'attaque pour commencer la journée de lundi",
  },
];
---

<Layout title="EVG du Darkmitri">
  <section>
    <div class="bg-black text-white py-8">
      <div
        class="container mx-auto flex flex-col items-start md:flex-row my-12 md:my-24"
      >
        <Hero title="EVG du Darkmitri">
          Organisation de la journée pour savoir ce qu'on va foutre.
        </Hero>
        <div class="ml-0 md:ml-12 lg:w-2/3 sticky">
          <div class="container mx-auto w-full h-full">
            <Timeline elements={elements} />
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
