---
import Hero from "../components/Hero.astro";
import Timeline, { TimelineElementProps } from "../components/Timeline.astro";
import Layout from "../layouts/Layout.astro";

const elements: TimelineElementProps[] = [
  {
    date: "Vendredi 12 mai - 19h",
    title: "Kidnapping",
    description:
      "On embarque le Darkmitri à Ermont. On récupère le colis nommé Jeannot et on part pour BXL ZOO",
  },
  {
    date: "22h30",
    title: "Arrivée à BXL",
    description: "On mange, on boit, on dort. L'ordre est à définir.",
    map: {
      lat: 50.8407865724649,
      lng: 4.33873325586319,
      title: "YOOMA Urban Lodge",
      url: "https://yooma-brussels.com/",
    },
  },
  {
    date: "Samedi 13 mai - 9h30",
    title: "Réveil",
    description:
      "On a des trucs à faire donc il s'agirait de pas faire de grasses mat'",
  },
  {
    date: "11h",
    title: "Escape game",
    description: "Rendez-vous pour une partie de Quantico chez Get Out",
    map: {
      lat: 50.844013,
      lng: 4.3535593,
      title: "Get Out - Quantico",
      url: "https://bruxelles.getout.be/enquetes/quantico/",
    },
  },
  {
    date: "12h30",
    title: "Wolf Food Market",
    description:
      "On va manger dans des halles assez sympa. Chacun y trouvera son bonheur",
    map: {
      lat: 50.8499206,
      lng: 4.3562699,
      title: "Wolf Food Market",
      url: "https://www.wolf.brussels/",
    },
  },
  {
    date: "14h - 16h",
    title: "Quartier libre",
    description:
      "On sait que ça va en profiter pour boire mais je préfère laisser le bénéfice du doute",
  },
  {
    date: "16h30",
    title: "Bubble foot et combat de sumos",
    description: "1 contre 10 donc",
    map: {
      lat: 50.7545406,
      lng: 4.3574921,
      title: "Footbulle",
      url: "http://www.footbulle.be/",
    },
  },
  {
    date: "20h",
    title: "Kokuban - Louise",
    description: "Resto de ramen pour s'hydrater",
    map: {
      lat: 50.7545406,
      lng: 4.3574921,
      title: "Kokuban Louise",
      url: "http://www.kokuban.be/",
    },
  },
  {
    date: "22h",
    title: "Tournée des bars",
    description: "Pas besoin d'explication à ce point de l'aventure",
  },
  {
    date: "Dimanche 14 mai - Heure inconnue",
    title: "Réveil",
    description: "On rend les clés de l'hôtel",
  },
  {
    date: "13h",
    title: "Brunch à la Casa Louise",
    description: "Pour digérer et absorber la soirée de la veille",
    map: {
      lat: 50.8336739,
      lng: 4.3587451,
      title: "Casa Louise",
      url: "https://www.casalouisebrussels.com/brunch",
    },
  },
  {
    date: "Départ",
    title: "Retour à la vraie casa",
    description: "Sans brunch et d'attaque pour commencer la journée de lundi",
  },
];
---

<Layout title="EVG du Darkmitri">
  <section>
    <div class="bg-black text-white py-8">
      <div
        class="container mx-auto flex flex-col items-start md:flex-row my-12 md:my-24"
      >
        <Hero title="EVG du Darkmitri">
          Organisation de la journée pour savoir ce qu'on va foutre.
        </Hero>
        <div class="ml-0 md:ml-12 lg:w-2/3 sticky">
          <div class="container mx-auto w-full h-full">
            <Timeline elements={elements} />
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
